.nav-link:hover {
    background-color: white;
    color: black !important;
    border-radius: 5px;
    transition: 0.3s;
}

.socials-icon {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    transition: 0.3s ease;
}

/* force icons to center */
.socials-icon img {
    width: 70%;
    height: 70%;
    object-fit: contain;
}

/* hover effect */
.socials-icon:hover {
    transform: scale(1.15);
    background-color: #ffc107;
    box-shadow: 0 0 10px rgba(255, 193, 7, 0.7);
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
}
